body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
}

.main-menu-container {
    background-color: ghostwhite;
    flex: 1;
    height: 100%;
}

.menu-buttons-container {
    width: 550px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
}

.menu-buttons-container button {
    border: 1px solid black;
    font-size: 20pt;
    background-color: white;
    display: inline;
    padding: 15px 20px;
    width: 40%;
    margin: auto;
    cursor: pointer;
}

.menu-buttons-container button:hover {
    background-color: black;
    border-color: white;
    color: white;
}

#join-stream-form {
    top: 200px;
    margin: auto;
    width: 40%;
    border-right: 2px solid black;
    padding: 10px 20px;
}

#join-stream-form button {
    width: 100%;
}

.input-group {
    margin-bottom: 5px;
    position: relative
}