<!DOCTYPE html>
<html lang="en">
<head>
    <title>StreamService</title>
    <script>
            if (typeof module === 'object') {window.module = module; module = undefined;}
    </script>
    <script src="../../node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="../../public/javascript/broadcast.js"></script>
</head>
<body>
    <p>Stream is active.</p>
    <button id="stop-stream">Stop streaming</button>
    <video width="320" height="240"></video>
    <script type="text/javascript">
       
    </script>
</body>
</html>