<!DOCTYPE html>
<html lang="en">
    <head>
        <title>StreamService</title>
        <script>
            if (typeof module === 'object') {window.module = module; module = undefined;}
        </script>
        <script src="../../node_modules/jquery/dist/jquery.slim.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../../public/styles/startWindow.css" />
    </head>
    <body>
        <div class="main-menu-container">
            <div class="menu-buttons-container">
                <table class="menu-table">
                    <tbody>
                        <tr>
                            <td>
                                <form id="join-stream-form">
                                    <div class="input-group">
                                        <label>
                                            <b>IP Address:</b>
                                        </label>
                                        <input type="text" id="ip" autofocus required />
                                    </div>
                                </form>
                            </td>
                            <td>
                                <b>Select a window:</b>
                                <form id="select-window-form">
                                    <div id="window-option-list" class="input-group">
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button id="join-stream-button" type="submit" form="join-stream-form">Join stream</button>
                            </td>
                            <td>
                                <button id="start-stream" type="submit" form="select-window-form">Start stream</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <script>
            const electron = require('electron');
            const { ipcRenderer, desktopCapturer } = electron;

            $(document).ready(function () {

                // TODO: Would like use gamepad on start screen
                window.addEventListener("gamepadconnected", function (e) {
                    console.log("Gamepad connected at index %d: %s. %d buttons, %d axes.",
                        e.gamepad.index, e.gamepad.id,
                        e.gamepad.buttons.length, e.gamepad.axes.length);
                });

                // List sources that can be streamed.
                desktopCapturer.getSources({types: ['window', 'screen']}, function(err, sources) {
                    const windSelectionGroup = $('#window-option-list');
                    var checked = false;
                    sources.forEach(source => {
                        let inputEl = $('<input>');
                        if(!checked) {inputEl.prop('checked', true); checked=true;}

                        windSelectionGroup.append(
                            $('<div>').append(
                                inputEl.attr('id', source.id).attr('name', 'window-options').attr('type', 'radio').attr('value', source.id)
                            ).append(
                                $('<label>').attr('for', source.id).text(source.name)
                            )
                        )
                    });
                });

                $('#join-stream-form').on('submit', joinStream);
                $('#select-window-form').on('submit', startStream)
            });

            ipcRenderer.on("message", function(e, msg) {
                $('#join-stream-button').attr('disabled', false);
                $('#start-stream').attr('disabled', false);
                alert(msg);
            });



            function joinStream(e) {
                e.preventDefault();

                const ip = $('#ip').val();
                $('#join-stream-button').attr('disabled', true);

                ipcRenderer.send('stream:join', ip);
            }

            function startStream(e) {
                e.preventDefault();

                const windowId = $('input[name="window-options"]:checked').val();
                $('#start-stream').attr('disabled', true);

                ipcRenderer.send('stream:start', windowId);
            }


        </script>
    </body>
</html>
