<!DOCTYPE html>
<html lang="en">

<head>
    <title>StreamService</title>
    <script>
        if (typeof module === 'object') { window.module = module; module = undefined; }
    </script>
    <script src="../../node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="../../public/javascript/gamepad.js"></script>
    <script src="../../public/javascript/stream.js"></script>

    <link rel="stylesheet" type="text/css" href="../../public/styles/streamViewer.css" />
</head>

<body>
    <div class="video-container">
        <video id="stream-video" muted="muted" autoplay></video>
        <div class="menu-container">
            <button class="exit-button">Disconnect</button>
            <div class="button-divider"></div>
        </div>
        <!-- width="1280" height="720" -->
    </div>

</body>

</html>
