<!DOCTYPE html>
<html lang="en">

<head>
    <title>StreamService</title>
    <script>
        if (typeof module === 'object') { window.module = module; module = undefined; }
    </script>
    <script src="../../node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="../../public/javascript/gamepad.js"></script>
    <script src="../../public/javascript/stream4.js"></script>
</head>

<body>
    <video id="stream-video" style="background-color: grey; border: 2px solid black;" width="1280" height="720" muted="muted"></video>
</body>

</html>